/* who needs it */
* {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot?v=1");
    src:url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),
        url("../fonts/casper-icons.woff?v=1") format("woff"),
        url("../fonts/casper-icons.ttf?v=1") format("truetype"),
        url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dancing-script";
    src:url("../fonts/DancingScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open-sans";
    src:url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../images/background.png");
    font-family: garamond, georgia, serif;
}

h1, h2, h3, h4 {
    font-family: "open-sans", sans-serif;
    font-size: 2em;
}

h1.page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 2.5em;
}

h2.page-description {
    color: #7897d3;
    font-family: "dancing-script", sans-serif;
    text-align: center;
    font-size: 1.9rem;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #7897d3;
}

a:hover {
    color: black;
}

.site-wrapper {
    background-color: white;
    box-shadow: 0px 0 24px 0px #aaa;
}

.site-wrapper, .nav {
    margin: 0 auto;
    width: 45em;
    max-width: 80%;
    padding: 2em;
}

.nav {
    padding-bottom: 1em;
    padding-top: 1em;
    overflow: hidden;
}

.nav li {
    display: block;
    list-style: none;
}

.nav li a {
    float: left;
    padding-right: 1em;
}

.nav li a.subscribe-button {
    float: right;
    padding-right: 0;
    padding-left: 1em
}

.blog-logo img {
    width: 100px;
    display: block;
    float: left;
    margin-right: 1em;
}

.main-header {
    background-size: cover;
    border-bottom: 1px solid black;
    min-height: 100px;
    margin-bottom: 6em;
}

.main-header-content {
    margin-bottom: 3em;
}


header.main-header.no-cover::after {
    content: '\2767';
    color: #7897d3;
    font-size: 2em;
    display: block;
    text-align: center;
    width: 1em;
    margin: 0 auto;
    position: relative;
    top: 0.35em;
    background-color: white;
}

.author-bio {
    font-size: 1em;
    font-family: garamond, georgia, serif;
}

.author-image .img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    float: left;
    background-size: cover;
    margin-right: 1em;
}

.author {
    overflow: hidden;
}

.author-meta {
    margin-bottom: 2em;
}

.author-meta span {
    margin-right: 1em;
}

.author-meta span:last-child {
    margin-right: 0;
}

.share {
    clear: both;
    margin: 1em 0 3em 0;
}

.post {
    max-width: 45em;
    margin-top: 1em;
    margin-bottom: 3em;
}

.post-header {
    margin: 2em 0 1em 0;
}

.post-header-image {
    height: 175px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 1em;
}

.post-header-image img {
    position: absolute;
    width: 100%;
    height: auto;
}


.post-title {
    letter-spacing: 0.05em;
}

.post-head {
    float: left;
}

.post-meta {
    font-style: italic;
    font-size: 0.8em;
}

.post ul {
    margin: 0.5em 2em;
}

.post-content {
    margin-top: 1em;
    margin-bottom: 3em;
}

.post-content * {
    margin-bottom: 1em;
}

.post-content li {
    margin-bottom: 0.5em;
}

.post-content h2, h3, h4 {
    margin: 1.5em 0 1em 0;
}

.post-content h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0.5em;
}

.post-content hr {
    margin: 3em;
    border: 0;
    height: 1px;
    background-color: black;
}

.post-content img {
    width: 100%;
}

.post-content blockquote {
    padding: 1em 2em;
    background-color: #e0e7f5;
}

.post-content blockquote a {
    color: #666;
}

.post-content blockquote a:hover {
    color: black;
}

.post-content pre {
    overflow: scroll;
}

.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
    font-family: "casper-icons";
    margin-right: 0.5em;
}

.icon-facebook:before {
    content: "\f604";
    font-family: "casper-icons";
    margin-left: 1em;
    margin-right: 0.5em;
}

.icon-location:before {
    content: "\f607";
    font-family: "casper-icons";
    margin-left: -3px;
    margin-right: 0.5em;
}

.icon-stats:before {
    content: "\f606";
    font-family: "casper-icons";
    margin-left: -3px;
}

.icon-ghost:before {
    content: "\f600";
    font-family: "casper-icons";
    margin-left: -3px;
}

.icon-feed:before {
    content: "\f601";
    font-family: "casper-icons";
    margin-right: 0.5em;
}

.icon-arrow-left:before {
    content: "\f605";
    font-family: "casper-icons";
    margin-left: -3px;
}

.icon-link:before {
    content: "\f608";
    font-family: "casper-icons";
    margin-left: -3px;
}

.icon-menu:before {
    content: "\f609";
    font-family: "casper-icons";
    margin-left: -3px;
}
